h1{
    text-align:center;
    position:relative;
    top:300px;
    font-family:sans-serif ;
    font-size:50px;
    font-weight: 200;
}
form{
    text-align:center;
    position:relative;
    top:280px;
}
.crypto{
    position:relative;
    top:200px;
    width:300px;
    float:right;
}
.bookmarks{
    text-align: center;
    position:relative;
    top:285px;
    right:94px;
    
}
body{
    background-color:rgb(224, 224, 224);
    background-image: url(img/clouds-1282314.jpeg);
}
.searchbar{
    width:200px;
    height:20px;
}
.go{
    border-radius:200px;
}
.clock{
    position:absolute;
    right:50px;
    bottom:50px;
    background:white;
    border: 1px solid black;
}